@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
    }

    @media screen and (min-width: 758px) and (max-width: 992px) {

        body{background-image: linear-gradient( to top, rgba(255, 166, 0, 0.862), rgba(255, 94, 0, 0.862));

        }

        #login{
            width: 80vw;
            height: 40vh;
        }

        #login > #imagem{
            float: left;
            width: 30%;
            height: 100%;
        }

        #login > #formulario{
            float: right;

            width: 70%;

        }
    }

    @media screen and (min-width: 992px) {

        body
        {background-image: linear-gradient( to top, rgba(255, 166, 0, 0.862), rgba(255, 94, 0, 0.862));
        }


        #login{
            width: 950px;

            height: 50vh;
        }

        #login > #imagem{
            float: right;
            width: 50%;
            height: 100%;
          }


         #login > #formulario{
            float: left;
            width: 50%;
            height: 100%;
          }

          #formulario > h1{
            font-size: 2em;
          }

          #formulario > p{
            font-size: 1.2em;
            margin: 10px 0px;
        }
    }